[submodule "cpp-properties"]
	path = cpp-properties
	url = https://github.com/fredyw/cpp-properties
[submodule "tesseract"]
	path = tesseract
	url = https://github.com/tesseract-ocr/tesseract
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv
[submodule "WiringPi"]
	path = WiringPi
	url = https://github.com/WiringPi/WiringPi
[submodule "picotts"]
	path = picotts
	url = https://github.com/naggety/picotts.git
